@import "tailwindcss";

body {
  background-color: #d2dbdc;
  font-family: "Segoe UI", Helvetica Neue, Helvetica, Lucida Grande, Arial;
}

.chat-list::-webkit-scrollbar,
.chat-window::-webkit-scrollbar,
.new-chat-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chat-list::-webkit-scrollbar-thumb,
.chat-window::-webkit-scrollbar-thumb,
.new-chat-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

h2.epr-emoji-category-label {
  background-color: transparent;
}
